html {color-scheme: light dark;}
body {
  font-family: system-ui;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
#data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#skin, #cape {
  display: none;
  animation: dl 2s linear infinite;
  background-color: rgba(0, 0, 0, 0.393);
  object-fit: contain;
  cursor: pointer;
}
#skin {width: 200px;}
#cape {height: 100px;}
@keyframes dl {
  0%, 100% {border: 2px solid #fff;}
  50% {border: 2px solid #ccc;}
}