html {
    color-scheme: ligh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#skin, #cape {
    animation: border 1s infinite;
    background-color: #0004;
    object-fit: contain;
    cursor: pointer;
}

img[src=""], img:not([src]) {
    display: none;
}

@keyframes border {
    0%, 100% {
        border: 2px solid #2b2b2b;
    }
    50% {
        border: 2px solid #a8a8a8;
    }
}

#skin {
    width: 200px;
}

#cape {
    height: 100px;
}

a {
    font-family: monospace;
}