body {
  font-family: monospace;
  image-rendering: pixelated;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#skin, #cape {
  display: none;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  object-fit: contain;
  cursor: pointer;
}

#skin {width: 200px;}
#cape {height: 100px;}